:root {
    --theme-1: #7aa97d;
    --theme-2: #FAFEF5;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    background: var(--theme-1);
}
nav {
    margin-left: 40px;
    display: flex;
    height: 85%;
}
.nav-bar {

    background: var(--theme-2);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 40px -20px #00000091;
    flex-direction: column;

}
.nav-bar img{
    height: 85px;
    width: 85px;
}
.MainContainer{
    background: var(--theme-2);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    height: 85%;
    width: 80%;
    margin-left: 3%;
    box-shadow: 0 10px 40px -20px #00000091;
    flex-direction: column;
    overflow: hidden;

}
.MainContainer .MainTitle{
    margin-left: 7%;
    margin-top: 5%;

}
.MainContainer .MainTitle h2{
    margin-top: 5%;
    font-size: 44px;
    font-family: Inter;

}
.MainContainer .MainTitle h1{
    font-size: 76px;
    font-family: Inter;

}
.MainContainer .Description{
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 7%;
    padding-bottom: inherit;
    font-size: 28px;
    text-align: center;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;

}
.MainContainer .Description img{
    height: 250px;
    width: 250px;
    margin-bottom: 10px;

}

/* ////////////////////// */
/* Page MesInfosEtudiants */

.MainContainerEtudiant {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.MainTitleEtudiant {
    font-family: Inter;
    background-color: var(--theme-2);
    border: 1px solid var(--theme-2);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    font-size: 48px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DescriptionEtudiant {
    background-color: var(--theme-2);
    border: 1px solid var(--theme-2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DescriptionEtudiant h2 {
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.DescriptionEtudiant p {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.boutonModifMDP {
    padding: 10px 20px;
    background-color: var(--theme-1);
    color: var(--theme-2);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.boutonModifMDP:hover {
    background-color: #6e8e6f;
}

.InfosEntreprise {
    background-color: var(--theme-2);
    border: 1px solid var(--theme-2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.InfosEntreprise h2 {
    font-family: Inter;
    font-size: 20px;
    padding-bottom: 5px;
}

.InfosEntreprise p{
    font-family: Arial;
}
.rightPage {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-1);
    justify-items: center;
    margin-right: 3%;
    margin-left: 3%;
    height: 100%;
    gap: 475px;
}

.rightPage .logo{
    margin-top: 35%;
    width: 250px;
}

.rightPage .boutonModifEtudiant{
    text-align: center;
    bottom: 20px;
    left: 50%;
    padding: 10px 20px;
    background-color: var(--theme-2);
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid var(--theme-2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}